
.icon-gplus:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-youtube:before { content: '\e804'; } /* '' */
.icon-dollar:before { content: '\e805'; } /* '' */
.icon-linkedin:before { content: '\e806'; } /* '' */